<%- include("partials/header") %>

<div class="row">
	<h1 style="text-align: center">Your UserID is <%=user._id%></h1>
	<div style="width: 30%; margin: 25px auto;">
		<h3> Your last answer was <%=lastStatus%>. </h3>
		<h3>Game over!!</h3>
		<h3>Your score is: <%=score%></h3>
		<form action="/logout"method="GET">
			<h3>Play Again with a different email?</h3>
			<div class="form-group">
				<button class="btn btn-default">Log out</button>
			</div>
		</form>
	</div>	
</div>

<%- include("partials/footer") %>