<%- include("partials/header") %>
<h1>
	UserID: <%=user._id%>
</h1>
<h3> Your last answer was <%=lastStatus%> </h3>
<h3>Game over</h3>
<h3>Your score is: <%=user.score%></h3>

<%- include("partials/footer") %>