<%- include("partials/header") %>


<div class="row">
	<h1 class="text-center">Question: <%=question.title%></h1>
	<div style="width: 30%; margin: 25px auto;">
		<h4>You have 15 seconds to answer the question.</h4>
		<form action="/questions/<%=question._id%>" name='myForm' method="POST">
			<% for (var i =0; i <question.options.length;  i++ ) { %>
				<div class="radio">
				  <label>
					<input type="radio" name="optionSelected" value="<%=i%>">
					<%=question.options[i]%>
				  </label>
				</div>
			<% } %>
			<div class="form-group">
				<button class="btn btn-default">Submit</button>
			</div>
			
		</form>
		<% if (lastStatus) {%>
			<h4> Your last answer was <%=lastStatus%> </h4>
		<% }%>		
	</div>		

</div>


<script type="text/javascript">
	window.onload=function(){ 
		window.setTimeout(function() { document.myForm.submit(); }, 15000);
	};
</script>
<%- include("partials/footer") %>
