<%- include("partials/header") %>


<div class="row">
	<h1 class="text-center">Question: <%=question.title%></h1>
	<div style="width: 30%; margin: 25px auto;">
		<h4>You have <span id='timer'>15</span> seconds to answer the question.</h4>
		<form action="/questions/<%=question._id%>" name='myForm' method="POST">
			<% for (var i =0; i <question.answerOptions.length;  i++ ) { %>
				<div class="radio">
				  <label>
					<input type="radio" name="optionSelected" value="<%=question.answerOptions[i].isRight%>">
					<%=question.answerOptions[i].content%>
				  </label>
				</div>
			<% } %>
			<div class="form-group">
				<button class="btn btn-default">Submit</button>
			</div>
			
		</form>
		<% if (lastStatus) {%>
			<h4> Your last answer was <%=lastStatus%>. </h4>
		<% }%>		
	</div>		

</div>


<script type="text/javascript">
	var timer=document.querySelector('#timer');
	window.onload=function(){ 
		var countDown=15;
		window.setInterval(function(){
			countDown--;
			timer.textContent=countDown;
			
			if(countDown==0){
				document.myForm.submit();
			}
		},1000);
	};
</script>
<%- include("partials/footer") %>
